<%= form_for @doctor do |f| %>
    <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :password %>
        <%= f.text_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.text_field :password_confirmation, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
        <%= link_to 'Back', :back, class: 'btn btn-outline-secondary' %>
    </div>
<% end %>

<style>
body {
   background-image: url('https://res.cloudinary.com/morkva123/image/upload/v1652367084/heart_bqf1qi.jpg');
}
</style>